body{
    background-color: beige;
    margin: 0;
}

.contenedor{
    width: 80%;
    margin: auto;
}
.caja{
    /*
    border-bottom: 8px blue solid;
    border-left: 8px blue solid;
    border-right: 8px blue solid;
    border-top: 8px blue solid;
    */
    border: 10px blue solid;
    padding: 20px 0;
    margin: 10px 5px 0px 4px;
}
.caja h1{
    text-decoration: underline;
}
.caja-2{
    /*
    border-bottom: 8px blue solid;
    border-left: 8px blue solid;
    border-right: 8px blue solid;
    border-top: 8px blue solid;
    */
    border: 5px rgb(0, 255, 64) dotted;
    padding: 45px 0;
    margin: 10px 5px;
}
.caja-3{
    /*
    border-bottom: 8px blue solid;
    border-left: 8px blue solid;
    border-right: 8px blue solid;
    border-top: 8px blue solid;
    */
    border: 2px rgb(0, 0, 0) solid;
    padding: 10px;
    margin: 100px;
    border-radius: 15px;
}
.caja h1{
    text-decoration: underline;
}
.contenedor-2{
    float:left;
    width: 33%;
    margin-right: 2px;
}
.galeria img{
    width: 100%;
    height: auto;
}
.galeria img:hover{
    opacity: 0.7;
}
.posicionamiento {
    clear: both;
    border: 1px solid blue;
    height: 300px;
    position: relative;
    background-image: url(Pictures/Foto1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.posicionamiento h2{
    position: absolute;
    top: 100px;
}
.posicionamiento h3{
    position: absolute;
    right: 10px;
    bottom: 10px;
}