/* .padre-1 {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}
.padre-1 div {
  border: 1px solid lightgray;
  padding: 80px;
  font-size: 20px;
}
 */
header {
  border: 1px solid lightgray;
  text-align: center;
}
.padre-2 {
  border: 1px solid lightgray;
  padding: 0px 0px 0px 50px 0px;
}
.padre-2 h4 {
  text-align: center;
}
footer {
  border: 1px solid lightgray;
  text-align: center;
}

@media (min-width: 768px) {
  .padre-2 {
    display: flex;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
}
